<div class="container text-center mt-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h1 class="display-4 fw-bold">¡Hola, soy Carlos López Lorenzo!</h1>
      <p class="lead">Desarrollador de aplicaciones web, con experiencia en differentes lenguajes y frameworks. Actualmente resido en el viso del alcor y disfruto mi tiempo libre expandiendo mi conocimiento</p>
      <a href="portfolio" class="btn btn-primary btn-lg mt-3">Ver mi trabajo</a>
    </div>
    <div class="col-md-6">
      <img src="fotoperfil.png" alt="Mi Foto" class="img-fluid rounded-circle shadow-lg" width="300">
    </div>
  </div>
</div>
